{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="/static/css/nightmarket.css">
<section id="food" class="bg-light">
    <div class="food-section mdl-typography--text-center">
        <div class="performance-title">Food</div>
    </div>
    <div class="performance-list">
      <a href="/static/images/eauspmenu.png">
        <img src="/static/images/eauspmenu.png" style="display: block; width: 75%; margin: 0 auto;">
      </a>
    </div>
</section>

<section id="performances" class="bg-light">
    <div class="performance-section mdl-typography--text-center">
        <div class="performance-title">Performances</div>
    </div>
    <div class="performance-list">
      <a href="/static/images/eauspperformances.png">
        <img src="/static/images/eauspperformances.png" style="display: block; width: 75%; margin: 0 auto;">
      </a>
    </div>
</section>
{% endblock %}
